
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
  }
  
  .main-container{
    width:100vw;
    height:100vh;
    background-image: url("images/bg-intro-desktop.png");
   background-color:  hsl(0, 100%, 74%) ;
   
  }
   .content{
     width:100%;
     height:100vh;
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   }
   .text-content{
    width: 520px;
    margin: 0 auto;
   }
   h3{
     color:#feffff;
     font-size:3rem;
     font-weight:600;
   }
   p{
    color: #feffff;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 30px;
    width: 515px;

    text-align: justify;
   }
   span{
     color:#d1cbf7;
   }
   .form{
     margin: 0 auto;
     
   }
   button{
     width:535px;
     height:58px;
     background-color:hsl(248, 32%, 49%);
     border:1px solid hsl(248, 32%, 49%);
     color:white;
     border-radius: 5px;
     font-size: 16px;
     font-weight: 500;
   }
   .second{
    width: 456px;
    background-color:hsl(154, 59%, 51%);
     border:1px solid hsl(154, 59%, 51%);
     color:white;
     border-radius: 5px;
     margin-left:30px;
   }
   form{
    width:535px;
     height:500px;
     background-color:white;
     border-radius:5px;
     margin-top: 15px;
     padding: 10px;
   }
   h6{
     color:#dedede;
     font-size: 16px;
     font-weight: 700;
     text-align: center;
     padding-top: 20px;
   }
   form span{
     color: hsl(0, 100%, 74%) ;
   }
   input{
     width: 456px;
     height:54px;
     border:1px solid #dedede;
     border-radius: 5px;
     padding: 20px;
     display: flex;
    margin: 30px auto;
    outline:none;
    caret-color: hsl(248, 32%, 49%);
   }
   input[placeholder]{
    color: #6a6a6c;
    font-size: 17px;
    font-weight: 500;
   }
   input:focus{
    border:1px solid hsl(248, 32%, 49%);
   }
   
   input:focus[placeholder]{
    font-weight:550;

   }
  
   input:focus:valid{
    border:1px solid hsl(248, 32%, 49%);
   }
  input:optional{
    border-left:2px solid hsl(154, 59%, 41%);
  }
   input:required{
     border-left:2px solid #fe7877;
   }
   input:focus:invalid{
    border:1px solid  red;
   }
   input:required:focus:valid {
  background: url("images/right.svg") no-repeat 95% 50%;
  background-size: 25px;
   }
  
   input:required:focus:invalid {
    background: url("images/wrong.png") no-repeat 95% 50%;
    background-size: 25px;
     }

   /* responsive width:375px*/
 @media(max-width:375px){
   .main-container{
  
    background-image: url("images/bg-intro-mobile.png");
    width: 100vw;
    height: 230vh
  }
  .text-content{
    padding-top: 54px;
    padding-bottom: 56px;
    width:387px;

  }
  h3{
      font-size:2.5em;
      text-align: center;
  }
  p{
    font-size: 1srem;
    padding-top: 30px;
    text-align: center;
    width: 367px;


  }
  button {
    width: 336px;
    display: block;
    margin: 0 auto;
    height: 82px;
}
form {
    width: 337px;
    margin-top: 35px;
    height: 533px;
}
input {
    width: 278px;
    height: 52px;
}
.second {
    width: 280px;
    margin-left: 17px;
    height: 52px;
}
form span {
   
    display: block;
    padding-top: 10px;
}
}